<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">
    <resultMap type="com.example.demo.entity.Comment"
               id="commentResultMap">
        <result property="commentId" column="comment_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="avatar" column="avatar"/>
        <result property="commentContent" column="comment_content"/>
        <result property="commentTime" column="comment_time"/>
        <collection property="replies" ofType="com.example.demo.entity.Reply">
            <result property="replyId" column="reply_id"/>
            <result property="replyFromUserId" column="reply_from_user_id"/>
            <result property="replyFromUserName"
                    column="reply_from_user_name"/>
            <result property="replyFromAvatar" column="reply_from_avatar"/>
            <result property="replyToUserName" column="reply_to_user_name"/>
            <result property="replyToUserId" column="reply_to_user_id"/>
            <result property="replyCommentId" column="reply_comment_id"/>
            <result property="replyContent" column="reply_content"/>
            <result property="replyTime" column="reply_time"/>
        </collection>
    </resultMap>

    <!-- <select id="queryCommentsWithRepies" parameterType="long" resultMap="commentResultMap">
        select c.*,r.*,u.user_name,u.avatar,ur.user_name as reply_from_user_name,ur.avatar
        as reply_from_avatar, ut.user_name as reply_to_user_name from demo_comment
        c left join reply r on c.comment_id = r.reply_comment_id left join `user`
        u on c.user_id = u.user_id left join `user` ur on r.reply_from_user_id =
        ur.user_id left join `user` ut on r.reply_to_user_id = ut.user_id where c.article_id
        = #{articleId}; </select> -->

    <!-- 查询文章评论 -->
    <select id="queryCommentsWithUser" parameterType="long"
            resultType="com.example.demo.entity.Comment">
		select c.*,u.user_name,u.avatar, count(r.reply_comment_id)
		as reply_count from demo_comment c
		left join `user` u on c.user_id =
		u.user_id
		left join reply r on r.reply_comment_id = c.comment_id
		where
		c.article_id = #{articleId}
		group by c.comment_id order by reply_count
		desc,c.comment_time desc;
	</select>

    <!-- 查询指定评论的回复 -->
    <select id="queryRepliesWithUser" parameterType="long" resultType="com.example.demo.entity.Reply">
		select r.*,uf.user_name as reply_from_user_name,uf.avatar
		as reply_from_avatar,
		ut.user_name as reply_to_user_name from reply r
		left join `user` uf on r.reply_from_user_id = uf.user_id
		left join `user` ut on r.reply_to_user_id = ut.user_id where
		r.reply_comment_id = #{commentId} and r.reply_status = 0
		order by r.reply_time desc;
	</select>

</mapper>